body, h1 {
  margin: 0;
}

.app__header {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headder__img-container {
  width: 200px;
}

.header__image {
  width: 100%;
}

.filter {
  text-align: center;
}

.films__list {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .films__list {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (min-width: 1024px) {
  .films__list {
    grid-template-columns: repeat(3, 1fr);

  }
}

.list__film > * {
  display: block;
}

.list__film img {
  width: 200px;
}

.list__film h3 {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  height: 1px;
}